  <div id="subtotal">
    <h3>Cart Totals</h3>
    <table>
      <tr>
        <td>Cart Subtotal</td>
        <td>$<%= @total %></td>
      </tr>
      <tr>
        <td>Shipping</td>
        <td>Free</td>
      </tr>
      <tr>
        <td><strong>Total</strong></td>
        <td><strong>$<%= @total %></strong></td>
      </tr>
    </table>
    <%= link_to "Proceed to checkout", new_checkout_path, class: "normal1" %>
    <%= link_to "Continue shopping", products_path, class: "normal1" %>
</div>
