<!-- app/views/order_mailer/order_success_email.html.erb -->
<!DOCTYPE html>
<html>
  <body>
    <h1>Order Cancelled</h1>
    <p>Hello <%= @user.name %>,</p>
    <p>The product you ordered is out of stock..</p>
    <p>Thank you for shopping with us!</p>
  </body>
</html>
