<h1 class="text-center mb-3 pt-3">Edit a category</h1>

<%= render "form", category: @category %>

<br>

<div class="text-center">
  <%= link_to "Back to categories", admin_categories_path, class: "btn btn-secondary back-to-products" %>
</div>
